---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between items-center">
      <Link href="/" underline={false}>
        <img loading="eager" width="40" height="40" class="light-logo" src="/favicon-light.svg" alt="A logo featuring the initials of Shaun Chong" />
        <img loading="eager" width="40" height="40" class="dark-logo" src="/favicon-dark.svg" alt="A logo featuring the initials of Shaun Chong" />
      </Link>
      <nav class="flex gap-2">
        <Link href="/work"> work </Link> /
        <Link href="/projects"> projects </Link> /
        <Link external href="/shaun-chong-resume.pdf"> résumé </Link>
      </nav>
    </div>
  </Container>
</header>
