---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";
import PostHog from "@components/PostHog.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} - ${SITE.NAME}`} description={description} />
    <PostHog />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <div class="zoom-overlay"><img alt="Zoom overlay" /></div>
    <script is:inline>
      function isDesktop() {
        return window.matchMedia("(pointer: fine)").matches;
      }

      function zoomImage(overlay, img) {
        overlay.querySelector("img").src = img.currentSrc || img.src;
        overlay.classList.add("active");
      }

      function unzoomImage(overlay) {
        overlay.classList.remove("active");
      }

      document.addEventListener("click", (e) => {
        if (!isDesktop()) return;

        const overlay = document.querySelector(".zoom-overlay");
        const img = e.target.closest(".zoomable-img");

        if (img) {
          zoomImage(overlay, img);
          return;
        }

        if (overlay.classList.contains("active")) {
          unzoomImage(overlay);
        }
      });
    </script>
  </body>
</html>
